<a href="https://colab.research.google.com/github/analiarojas2929/Curso-Ciencia-de-datos-sonda/blob/main/manejo_cadenas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Ejercicio 1: Saludo Personalizado

Crea un programa que pida al usuario su nombre y edad, y luego imprima un saludo personalizado.

Usa input para capturar el nombre y la edad.

Usa print para mostrar el saludo.

In [1]:
# Solicita el nombre al usuario
nombre = input("¿Cuál es tu nombre? ")

¿Cuál es tu nombre? analia

In [2]:
# Solicita el edad al usuario
edad = input("¿Cuántos años tienes? ")
edad = int(edad)  # Convertir a entero

¿Cuántos años tienes? 24

In [3]:
# Entrega el saludo personalizado
print(f"Hola, {nombre}! Veo que tienes {edad} años. ¡Bienvenido/a!")

Hola, analia! Veo que tienes 24 años. ¡Bienvenido!

###Ejercicio 2: Manipulación de Cadenas

Crea una cadena con tu nombre completo.
Usa los métodos de cadenas para:
Convertir el nombre a mayúsculas y minúsculas.
Contar el número de letras en tu nombre.
Reemplazar tu primer nombre por otro nombre.

In [4]:
# Cadena con el nombre completo
nombre_completo = "Analia Rojas Araya"

In [5]:
# Convertir el nombre en mayúsculas
nombre_mayusculas = nombre_completo.upper()
print("En mayúsculas:", nombre_mayusculas)

En mayúsculas: ANALIA ROJAS ARAYA

In [6]:
# Convertir el nombre a minúsculas
nombre_minusculas = nombre_completo.lower()
print("En minúsculas:", nombre_minusculas)

En minúsculas: analia rojas araya

In [7]:
# Contar el número de letras del nombre (ignorando espacios)
numero_letras = len(nombre_completo.replace(" ", ""))
print("Número de letras (sin contar espacios):", numero_letras)

Número de letras (sin contar espacios): 16

In [8]:
# Reemplazar el primer nombre
nuevo_nombre = nombre_completo.replace("Analia", "Camila")
print("Nombre con reemplazo:", nuevo_nombre)

Nombre con reemplazo: Camila Rojas Araya

###Ejercicio 3: Lista de Nombres

Pide al usuario que ingrese una lista de nombres separados por comas.
Usa split para convertir esta cadena en una lista de nombres.
Imprime cada nombre en una línea separada.
Guarda el notebook en tu Google Drive y comparte el enlace con el instructor a través de la plataforma de la clase.

In [12]:
# Solicitar al usuario que ingrese nombres separados por comas
entrada = input("Ingresa una lista de nombres separados por comas: ")

Ingresa una lista de nombres separados por comas: analia,camila,damaris

In [13]:
# Convertir la cadena en una lista usando split
lista_nombres = entrada.split(",")

In [14]:
# Imprimir cada nombre en una línea separada
print("Nombres ingresados:")
for nombre in lista_nombres:
    print(nombre.strip())  # .strip() elimina espacios extra alrededor del nombre

Nombres ingresados:
analia
camila
damaris